// color palette - these colors will be the color swatches of the Colors section

$color-1: #1f6650; // Dark Green
$color-2: #6f9a8d; // Light Green
$color-3: #ea5e5e; // Pop color
$color-4: #eafbea; // Background-Color, light green
$color-5: white;

// additional colors

$success: $color-2; // green
$alert: $color-3; // red
