//Typography

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');

h1,
h2,
h3,
p,
ul,
a {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: 700;
	font-size: 3em;
	text-transform: uppercase;
	color: #1f6650;
}

h2 {
	color: $color-4;
	font-size: 3em;
	font-weight: 100;
	padding: 0.2em;
}

//Just a temporary fix, interested in what we might put here?

abbr {
	display: none;
}

h3 {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 2em;
	letter-spacing: 0.1em;
	color: $color-4;
	margin: 5px;
}
p {
	color: $color-5;
	font-size: 1.3em;
	@media screen and (max-width: 1200px) {
		font-size: 1em;
	}
	font-weight: 300;
	& a {
		color: $color-5;
	}
}

.summary p {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 2em;
	@media screen and (max-width: 1200px) {
		font-size: 1.5em;
	}
}

.preamble p {
	font-size: 1.4em;
	@media screen and (max-width: 1200px) {
		font-size: 1em;
	}
}

.requirements p ul {
	display: grid;
	grid-template-columns: auto auto;
	gap: 2em;
}
ul li {
	font-weight: 400;
	text-transform: uppercase;
	color: $color-2;
	list-style: none;
	& a {
		text-decoration: none;
	}
	& .design-name {
		color: $color-3;
		font-weight: 300;
		font-size: 2em;
	}
	& .designer-name {
		color: $color-2;
	}
}
